{
    "presets": [
        [ "@babel/typescript", { "jsxPragma": "h" } ],
        [ "@babel/react", { "pragma": "h" } ],
        [ "@babel/preset-env", { "targets": { "esmodules": true } }]
    ],
    "plugins": []
}