{
    "presets": [
        [ "@babel/typescript", { "jsxPragma": "h" } ],
        [ "@babel/react", { "pragma": "h" } ],
        [ "@babel/env", { "modules": false }]
    ],
    "plugins": [],
    "env": {
        "test": {
            "presets": [
                "@babel/react",
                "@babel/typescript",
                ["@babel/env", { "modules": "commonjs" }]
            ],
            "plugins": [
                "@babel/plugin-transform-modules-commonjs"
            ]
        }
    }
}